.game-item {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  background-position: center center;
}

.game-title {
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: Monaco;
  text-align: center;
  padding: 2px;
  color: white;
  opacity: 0.8;
}

.play-button {
  margin-top:20px;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 60px;
  background-color: transparent;
}

#gamelist-container .game-item .play-button {
  display: none;
}
#gamelist-container .game-item:hover .play-button {
  display: block;
  color: white
}

#main-container {
  display: none
}

#mame-container {
  width: 320px;
  height: 320px;
}

#mame-container .game-item {
  width: 320px;
  height: 320px;
  margin-right: 0px;
  border: 5px solid;
  position: relative;
}

#mame-container  .play-button {
  height: 320px;
  font-size: 120px;
}

.loading-container {
  width: 320px;
  height: 320px;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.loading-text {
  background-color: #CCCCCC;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  opacity: 0.8;
}

.game-controller {
  margin-left: 10px;
  height: 160px;
  position: relative;
}
.game-controller:after {
    content: "Player 1";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
}

#player2controller:after {
  content: "Player 2";
}

.game-container {
  z-index: 1;
  position: absolute;
}

.game-button {
  display: inline;
  width: 40px;
  padding: 2px;
  cursor: pointer;
  font-size: 12px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
}

.game-button-uparrow, .game-button-downarrow, .game-button-leftarrow, .game-button-rightarrow {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.game-button-uparrow span, .game-button-downarrow span, .game-button-leftarrow span, .game-button-rightarrow span {
  display: none
}
.game-button-uparrow:before {
  content: "\e093";
}
.game-button-downarrow:before {
  content: "\e094";
}
.game-button-leftarrow:before {
  content: "\e091";
}
.game-button-rightarrow:before {
  content: "\e092";
}
.game-button.keydown {
  background-color: #d4d4d4;
}

.game-button-coin {
  border-radius: 5px;
  height: auto;
  left: 140px;
}
.game-button-start {
  border-radius: 5px;
  height: auto;
  left: 190px;
}

.game-button-up, .game-button-down, .game-button-left, .game-button-right {
  background-color: black;
  color: white;
}

.game-button-up {
  top: 35px;
  left: 35px;
  border-radius: 5px 5px 20px 20px;
  background: url(glyphicons-halflings.png) no repeat -96px -72px !important;
}
.game-button-down {
  top: 100px;
  left: 35px;
  border-radius: 20px 20px 5px 5px;
}
.game-button-left {
  top: 67px;
  left: 0px;
  border-radius: 5px 20px 20px 5px;
}
.game-button-right {
  top: 67px;
  left: 67px;
  border-radius: 20px 5px 5px 20px;
}

.game-button-button1, .game-button-button2, .game-button-button3, .game-button-button4, .game-button-button5, .game-button-button6 {
  background-color: #ffbf00;
  border-color: #ffbf00;
}

.game-button-button1 {
  top: 40px;
  left: 140px;
}
.game-button-button2 {
  top: 40px;
  left: 190px;
}
.game-button-button3 {
  top: 40px;
  left: 240px;
}
.game-button-button4 {
  top: 90px;
  left: 140px;
}
.game-button-button5 {
  top: 90px;
  left: 190px;
}
.game-button-button6 {
  top: 90px;
  left: 240px;
}
