.game-item {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  background-position: center center;
}

.game-title {
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: Monaco;
  text-align: center;
  padding: 2px;
  color: white;
  opacity: 0.8;
}

.play-button {
  margin-top:20px;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 60px;
  background-color: transparent;
}

#gamelist-container .game-item .play-button {
  display: none;
}
#gamelist-container .game-item:hover .play-button {
  display: block;
  color: white
}

#main-container {
  display: none
}

#mame-container {
  width: 320px;
  height: 320px;
}

#mame-container .game-item {
  width: 320px;
  height: 320px;
  margin-right: 0px;
  border: 5px solid;
  position: relative;
}

#mame-container .error-container {
  width: 320px;
  height: 320px;
  font-family: Monaco;
  overflow-y: scroll;
}

#mame-container .error-content div {
  font-size: 10px;
}

#mame-container  .play-button {
  height: 320px;
  font-size: 120px;
}

.loading-container {
  width: 320px;
  height: 320px;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.loading-text {
  background-color: #CCCCCC;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  opacity: 0.8;
}

.game-controller {
  margin-left: 10px;
  height: 160px;
  position: relative;
}
.game-controller:after {
    content: "Player 1";
    position: absolute;
    top: 6px;
    left: 86px;
    font-size: 12px;
    color: #9da0a4;
}

#player2controller:after {
  content: "Player 2";
}

.game-container {
  z-index: 1;
  position: absolute;
  width: 320px;
  height: 320px;
}
